<template>
    <article class="mkd-pl-item mkd-pl-masonry-default post-414 portfolio-item type-portfolio-item status-publish has-post-thumbnail hentry portfolio-category-bistro portfolio-tag-diet portfolio-tag-food portfolio-tag-meals portfolio-tag-recipes" style="position: absolute; left: 50%; top: 0px;">
        <div class="mkd-pl-item-inner">
            <div class="mkd-pli-image">
                <span class="mkd-pli-plus"><i
                        class="mkd-icon-linear-icon lnr lnr-cross "></i></span>
                <img width="900" height="900"
                    src="/img/07/p-pinterest-image2.jpg"
                    class="attachment-full size-full wp-post-image" alt="a"
                    srcset="/img/07/p-pinterest-image2.jpg 900w, /img/07/p-pinterest-image2-150x150.jpg 150w, /img/07/p-pinterest-image2-300x300.jpg 300w, /img/07/p-pinterest-image2-768x768.jpg 768w, /img/07/p-pinterest-image2-550x550.jpg 550w"
                    sizes="(max-width: 900px) 100vw, 900px"> <a
                    href="#"
                    class="mkd-pli-link"></a>
            </div>
            <div class="mkd-pli-text-holder">
                <div class="mkd-pli-text-wrapper">
                    <div class="mkd-pli-text">
                        <h4 itemprop="name" class="mkd-pli-title entry-title"
                            style="text-transform: uppercase">
                            <a itemprop="url" href="">Healthy Breakfast</a>
                        </h4>
                        <div class="mkd-pli-category-holder">
                            <a itemprop="url" class="mkd-pli-category"
                                href="#">Bistro</a>
                        </div>
                        <a itemprop="url" class="mkd-pli-link"
                            href="#"
                            target="_self">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
export default {

}
</script>

<style>

</style>