<template>

  <span>

    <div class="vc_row wpb_row vc_row-fluid">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div
              class="forcefullwidth_wrapper_tp_banner"
              id="rev_slider_1_2_forcefullwidth"
              style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px"
            >
              <div
                id="rev_slider_1_2_wrapper"
                class="rev_slider_wrapper fullscreen-container"
                data-alias="home-1"
                data-source="gallery"
                style="background: rgb(3, 3, 3); padding: 0px; margin-top: 0px; margin-bottom: 0px; position: absolute; max-height: none; overflow: visible; height: 657px; width: 1920px;"
              >
                <div
                  id="rev_slider_1_2"
                  class="rev_slider fullscreenbanner revslider-initialised tp-simpleresponsive rev_redraw_on_blurfocus"
                  style="max-height: none; margin-top: 0px; margin-bottom: 0px; height: 100%;"
                  data-version="5.4.6"
                  data-slideactive="rs-1"
                >
                  <ul
                    class="tp-revslider-mainul"
                    style="visibility: visible; display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;"
                  >
                    <!-- <li
                      data-index="rs-1"
                      data-transition="fade"
                      data-slotamount="default" 
                      data-hideafterloop="0"
                      data-hideslideonmobile="off"
                      data-easein="default"
                      data-easeout="default"
                      data-masterspeed="300"
                      data-rotate="0"
                      data-saveperformance="off"
                      data-title="Slide"
                      data-param1
                      data-param2
                      data-param3
                      data-param4
                      data-param5
                      data-param6
                      data-param7
                      data-param8
                      data-param9
                      data-param10
                      data-description
                      class="tp-revslider-slidesli active-revslide"
                      style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: "
                    > -->
                      <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                      </div>

                      <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; top: -1px; z-index: 5;">
                        <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                          <div
                            class="tp-mask-wrap"
                            style="position: absolute; display: block; overflow: visible;"
                          >
                            <div
                              class="tp-caption tp-resizeme"
                              id="slide-1-layer-10"
                              style="z-index: 5; visibility: inherit; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 10px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"
                            >
                              <img src="/img/classic.jpg" />
                             
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 818px; top: 228px; z-index: 7;">
                        <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                          <div
                            class="tp-mask-wrap"
                            style="position: absolute; display: block; overflow: visible;"
                          ><div>
                            
                          </div>
                            <div
                              class="tp-caption"
                              id="slide-1-layer-4"
                              style="z-index: 7; white-space: nowrap; font-size: 80px; line-height: 140px; font-weight: 400; color: rgb(102, 102, 255); letter-spacing: 0px; font-family: &quot;Playfair Display&quot;; font-style: italic; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">

                            
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tp-parallax-wrap" style="position: relative; display: block; visibility: visible; left: 5%; top: 120px; z-index: 8;">
                        <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                          <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                            <div class="tp-caption" id="slide-1-layer-5" style="z-index: 8; min-width: 657px; max-width: 657px; white-space: normal; font-size: 22px; line-height: 33px; font-weight: 400;  letter-spacing: 0px; font-family: Catamaran; visibility: inherit; transition: none 0s ease 0s; text-align: bottom-left; border-width: 0px; margin: 0px; padding: 0px; min-height: 0px; max-height: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"
                            >
                              <img src="/img/maishalogo.png" height="29" align="top-left"/>
                              <h1 class="color: rgb(255, 255, 255);">Welcome to Maisha Flour</h1>

                            </div>
                          </div>
                        </div>
                      </div>

                    <!-- </li> -->
                  </ul>
                  <div
                    class="tp-bannertimer tp-bottom"
                    style="visibility: hidden !important; width: 0%;"
                  ></div>
                  <!-- <div class="tp-loader spinner1" style="display: none;">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div> -->
                </div>
              </div>
              <div class="tp-fullwidth-forcer" style="width: 100%; height: 657px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
</template>

<script>
export default {};
</script>

<style>
</style>