<template>
    <footer class="mkd-page-footer">
        <div class="mkd-footer-top-holder">
            <div class="mkd-footer-top-inner mkd-grid">
                <div class="mkd-grid-row mkd-footer-top-alignment-left">
                    <div class="mkd-column-content mkd-grid-col-3 mkd-footer-column-1">
                        <div id="media_image-2" class="widget mkd-footer-column-1 widget_media_image"><img width="100"
                                height="29" src="/img/maishalogo.png"
                                class="image wp-image-8218  attachment-full size-full" alt="a"
                                style="max-width: 100%; height: auto;"> 
                                </div>
                        <div id="text-2" class="widget mkd-footer-column-1 widget_text">
                            <div class="textwidget">
                                <p><span style="font-size: 16px;">MAISHA FLOUR MILLS LTD</span></p>
                            </div>
                            



                            <div class="textwidget">
                                <p><span style="font-size: 16px;">P.O. BOX 249 - 10102,</span></p>
                            </div>
                            <div class="textwidget">
                                <p><span style="font-size: 16px;">Kiganjo,</span></p>
                            </div>
                            <div class="textwidget">
                                <p><span style="font-size: 16px;">Kenya.</span></p>
                            </div>
                        </div>
                        <div class="widget mkd-separator-widget ">
                            <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                <div class="mkd-separator" style="border-style: solid;margin-top: 0px;margin-bottom: 0px">
                                </div>
                            </div>
                        </div>
                        <div id="text-3" class="widget mkd-footer-column-1 widget_text">
                            <!-- <div class="textwidget">
                                <p><span style="font-size: 16px;">Consequat ipsutis sem nibh id elit she. a odio tincidunt
                                        auctor a ornare odio. Sed non mauris vitae erat cons.</span></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="mkd-column-content mkd-grid-col-6 mkd-footer-column-2">
                        <a class="mkd-text-right mkd-icon-has-hover mkd-icon-widget-holder" href="tel:+1235844566"
                            data-hover-color="#ae9974" target="_self" style="color: #939598;font-size: 18px">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-icon-widget icon-basic-paperplane"></span></span><span
                                class="mkd-icon-text-holder" style="font-size: 16px;margin: 0px 0px 7px 0px"><span
                                    class="mkd-icon-text">+254 (20) 2085700/1/2, 2052740</span></span> </a>
                        <div class="widget mkd-separator-widget ">
                            <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                <div class="mkd-separator"
                                    style="border-style: solid;width: 0px;border-bottom-width: 0px;margin-top: 10px;margin-bottom: 0px">
                                </div>
                            </div>
                        </div>
                        <a class="mkd-text-right mkd-icon-has-hover mkd-icon-widget-holder"
                            href="#"
                            data-hover-color="#ae9974" target="_blank" style="color: #939598;font-size: 18px">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-icon-widget icon-basic-geolocalize-01"></span></span><span
                                class="mkd-icon-text-holder" style="font-size: 16px;margin: 0px 0px 7px 0px"><span
                                    class="mkd-icon-text">Off Nairobi-Nanyuki Main Road, Near KCC Kiganjo Depot.</span>
                                    
                                    
                                    </span> </a>
                        <div class="widget mkd-separator-widget ">
                            <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                <div class="mkd-separator"
                                    style="border-style: solid;width: 0px;border-bottom-width: 0px;margin-top: 10px;margin-bottom: 0px">
                                </div>
                            </div>
                        </div>
                        <a class="mkd-text-right mkd-icon-has-hover mkd-icon-widget-holder"
                            href="#"
                            data-hover-color="#ae9974" target="_self" style="color: rgb(147, 149, 152); font-size: 18px;">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-icon-widget icon-basic-mail"></span></span><span class="mkd-icon-text-holder"
                                style="font-size: 16px;margin: 0px 0px 7px 0px"><span
                                    class="mkd-icon-text">info@maisha.co.ke</span></span> </a>
                        <div class="widget mkd-separator-widget ">
                            <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                <div class="mkd-separator"
                                    style="border-style: solid;width: 0px;border-bottom-width: 0px;margin-top: 10px;margin-bottom: 0px">
                                </div>
                            </div>
                        </div>
                        <a class="mkd-text-right mkd-icon-has-hover mkd-icon-widget-holder" href="index.html"
                            data-hover-color="#ae9974" target="_self" style="color: rgb(147, 149, 152); font-size: 18px;">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-icon-widget icon-basic-world"></span></span><span
                                class="mkd-icon-text-holder" style="font-size: 16px;margin: 0px 0px 7px 0px"><span
                                    class="mkd-icon-text">www.maisha.co.ke</span></span> </a>
                        <div class="widget mkd-separator-widget ">
                            <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                <div class="mkd-separator"
                                    style="border-style: solid;width: 0px;border-bottom-width: 0px;margin-top: 35px;margin-bottom: 0px">
                                </div>
                            </div>
                        </div>
                        <a class="mkd-icon-has-hover mkd-icon-widget-holder" href="#"
                            data-hover-color="#ae9974" target="_blank"
                            style="color: #939598;font-size: 16px;margin: 0 18px 0 0">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-social-icon-widget social_instagram"></span></span> </a>
                        <a class="mkd-icon-has-hover mkd-icon-widget-holder" href="#"
                            data-hover-color="#ae9974" target="_blank"
                            style="color: #939598;font-size: 16px;margin: 0 18px 0 0">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-social-icon-widget social_twitter"></span></span> </a>
                        <a class="mkd-icon-has-hover mkd-icon-widget-holder"
                            href="#" data-hover-color="#ae9974"
                            target="_blank" style="color: #939598;font-size: 16px;margin: 0 18px 0 0">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-social-icon-widget social_facebook"></span></span> </a>
                        <!-- <a class="mkd-icon-has-hover mkd-icon-widget-holder" href="https://www.tumblr.com"
                            data-hover-color="#ae9974" target="_blank"
                            style="color: #939598;font-size: 16px;margin: 0 18px 0 0">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-social-icon-widget social_tumblr"></span></span> </a>
                        <a class="mkd-icon-has-hover mkd-icon-widget-holder" href="#"
                            data-hover-color="#ae9974" target="_blank"
                            style="color: #939598;font-size: 16px;margin: 0 18px 0 0">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-social-icon-widget social_vimeo"></span></span> </a>
                        <a class="mkd-icon-has-hover mkd-icon-widget-holder" href="#"
                            data-hover-color="#ae9974" target="_blank"
                            style="color: #939598;font-size: 16px;margin: 0 0 0 0">
                            <span class="mkd-icon-holder mkd-normal"><span
                                    class="mkd-social-icon-widget social_linkedin"></span></span> </a> -->
                    </div>
                    <!-- <div class="mkd-column-content mkd-grid-col-3 mkd-footer-column-3">
                        <div class="widget mkd-blog-list-widget">
                            <div class="mkd-blog-list-holder mkd-bl-minimal mkd-bl-one-column mkd-bl-small-space mkd-bl-pag-no-pagination "
                                data-type="minimal" data-number-of-posts="2" data-number-of-columns="1"
                                data-space-between-columns="small" data-category="Savory" data-order-by="date"
                                data-order="ASC" data-image-size="full" data-title-tag="p" data-excerpt-length="90"
                                data-post-info-section="yes" data-post-info-image="yes" data-post-info-author="no"
                                data-post-info-date="yes" data-post-info-category="yes" data-post-info-comments="yes"
                                data-post-info-like="no" data-post-info-share="no" data-pagination-type="no-pagination"
                                data-max-num-pages="1" data-next-page="2">
                                <div class="mkd-bl-wrapper">
                                    <ul class="mkd-blog-list">
                                        <li class="mkd-bl-item clearfix">
                                            <div class="mkd-bli-inner">
                                                <div class="mkd-bli-content">
                                                    <div itemprop="dateCreated"
                                                        class="mkd-post-info-date entry-date published updated">
                                                        <a itemprop="url" href="2017/08/index.html">
                                                            02.08.2017 </a>
                                                        <meta itemprop="interactionCount" content="UserComments: 0">
                                                    </div>
                                                    <p itemprop="name" class="entry-title mkd-post-title">
                                                        <a itemprop="url"
                                                            href="how-to-prepare-wonderful-sunday-lunch-for-entire-family/index.html"
                                                            title="How To Prepare Wonderful Sunday Lunch For Entire Family">
                                                            How To Prepare Wonderful Sunday Lunch For Entire Family </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mkd-bl-item clearfix">
                                            <div class="mkd-bli-inner">
                                                <div class="mkd-bli-content">
                                                    <div itemprop="dateCreated"
                                                        class="mkd-post-info-date entry-date published updated">
                                                        <a itemprop="url" href="2017/08/index.html">
                                                            02.08.2017 </a>
                                                        <meta itemprop="interactionCount" content="UserComments: 0">
                                                    </div>
                                                    <p itemprop="name" class="entry-title mkd-post-title">
                                                        <a itemprop="url"
                                                            href="top-ten-vegetable-dishes-even-your-children-will-enjoy/index.html"
                                                            title="Top Ten Vegetable Dishes Even Your Children Will Enjoy">
                                                            Top Ten Vegetable Dishes Even Your Children Will Enjoy </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="mkd-column-content mkd-grid-col-3 mkd-footer-column-4">
                        <div id="mkd_instagram_widget-4" class="widget mkd-footer-column-4 widget_mkd_instagram_widget">
                            <ul class="mkd-instagram-feed clearfix mkd-col-3 mkd-instagram-gallery mkd-tiny-space">
                                <li>
                                    <a href="#">
                                        <img class="standard_resolution"
                                            src="https://scontent.cdninstagram.com/vp/a448ba0ed6c6ee22c229c08a25132eab/5DD82365/t51.2885-15/e35/20482284_423813151352178_752142962162401280_n.jpg?_nc_ht=scontent.cdninstagram.com"
                                            alt="" width="640" height="640"> </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="standard_resolution"
                                            src="https://scontent.cdninstagram.com/vp/a448ba0ed6c6ee22c229c08a25132eab/5DD82365/t51.2885-15/e35/20482284_423813151352178_752142962162401280_n.jpg?_nc_ht=scontent.cdninstagram.com"
                                            alt="" width="640" height="640"> </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="standard_resolution"
                                            src="https://scontent.cdninstagram.com/vp/a448ba0ed6c6ee22c229c08a25132eab/5DD82365/t51.2885-15/e35/20482284_423813151352178_752142962162401280_n.jpg?_nc_ht=scontent.cdninstagram.com"
                                            alt="" width="640" height="640"> </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="standard_resolution"
                                            src="https://scontent.cdninstagram.com/vp/a448ba0ed6c6ee22c229c08a25132eab/5DD82365/t51.2885-15/e35/20482284_423813151352178_752142962162401280_n.jpg?_nc_ht=scontent.cdninstagram.com"
                                            alt="" width="640" height="640"> </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="standard_resolution"
                                            src="https://scontent.cdninstagram.com/vp/a448ba0ed6c6ee22c229c08a25132eab/5DD82365/t51.2885-15/e35/20482284_423813151352178_752142962162401280_n.jpg?_nc_ht=scontent.cdninstagram.com"
                                            alt="" width="640" height="640"> </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="standard_resolution"
                                            src="/img/food1.jpg"
                                            alt="" width="640" height="640"> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mkd-footer-bottom-holder">
            <div class="mkd-footer-bottom-inner mkd-grid">
                <div class="mkd-grid-row ">
                    <div class="mkd-grid-col-12">
                        <div id="text-4" class="widget mkd-footer-bottom-column-2 widget_text">
                            <div class="textwidget">
                                <p><span style="font-size: 14px;"><a
                                            href="https://qodeinteractive.com/theme-author/mikado-wordpress-themes"
                                            rel="noopener noreferrer"><em><span
                                                    style="color: #d4d4d4;">Copyright 2019 © Tdf Group
                                                    </span></em></a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>