<template>
  <div>
    <banner/>
    <nuxt />
    <FooterData/>
  </div>
</template>

<script>
  import FooterData from '@/layouts/partials/footer'
  import banner from '@/layouts/partials/banner'
  export default {
    components: {
        FooterData,
        banner
      },
  }
</script>

<style>
</style>
