<template>
  <span>
    <div class="mkd-row-grid-section-wrapper mkd-content-aligment-center">
      <div class="mkd-row-grid-section">

        <div class="vc_row wpb_row vc_row-fluid vc_custom_1502187165775">
          <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="mkd-elements-holder mkd-one-column mkd-responsive-mode-768">
                  <div
                    class="mkd-eh-item mkd-horizontal-alignment-center"
                    data-item-class="mkd-eh-custom-916373"
                  >
                    <div class="mkd-eh-item-inner">
                      <div 
                        class="mkd-eh-item-content mkd-eh-custom-916373"
                        style="padding: 0px 15px 0px 15px"
                      >
                        <div
                          class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-medium"
                          style="background-image: url()"
                        >
                          <div class="mkd-iwt-icon">
                            <img
                              width="110"
                              height="68"
                              src="/img/07/h1-icon1.png"
                              class="attachment-full size-full"
                              alt="a"
                            />
                          </div>
                          <div class="mkd-iwt-content">
                            <h4 class="mkd-iwt-title" style="color: #88714d">
                              <span class="mkd-iwt-title-text">BREAKFAST</span>
                            </h4>
                            <p
                              class="mkd-iwt-text"
                              style="color: #808285"
                            >Laboris nisi ut aliquip ex ea commodo. Proin gravida nibh vel veliau ctor aliquenean sollicitu.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_empty_space" style="height: 30px">
                  <span class="vc_empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"
          >
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="mkd-elements-holder mkd-one-column mkd-responsive-mode-768">
                  <div
                    class="mkd-eh-item mkd-horizontal-alignment-center"
                    data-item-class="mkd-eh-custom-576417"
                  >
                    <div class="mkd-eh-item-inner">
                      <div
                        class="mkd-eh-item-content mkd-eh-custom-576417"
                        style="padding: 0px 15px 0px 15px"
                      >
                        <div
                          class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-medium"
                          style="background-image: url()"
                        >
                          <div class="mkd-iwt-icon">
                            <img
                              width="100"
                              height="68"
                              src="/img/07/h1-icon2.png"
                              class="attachment-full size-full"
                              alt="a"
                            />
                          </div>
                          <div class="mkd-iwt-content">
                            <h4 class="mkd-iwt-title" style="color: #88714d">
                              <span class="mkd-iwt-title-text">LUNCH</span>
                            </h4>
                            <p
                              class="mkd-iwt-text"
                              style="color: #808285"
                            >Laboris nisi ut aliquip ex ea commodo. Proin gravida nibh vel veliau ctor aliquenean sollicitu.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_empty_space" style="height: 30px">
                  <span class="vc_empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"
          >
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="mkd-elements-holder mkd-one-column mkd-responsive-mode-768">
                  <div
                    class="mkd-eh-item mkd-horizontal-alignment-center"
                    data-item-class="mkd-eh-custom-104504"
                  >
                    <div class="mkd-eh-item-inner">
                      <div
                        class="mkd-eh-item-content mkd-eh-custom-104504"
                        style="padding: 0px 15px 0px 15px"
                      >
                        <div
                          class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-medium"
                          style="background-image: url()"
                        >
                          <div class="mkd-iwt-icon">
                            <img
                              width="110"
                              height="68"
                              src="/img/07/h1-icon3-1.png"
                              class="attachment-full size-full"
                              alt="a"
                            />
                          </div>
                          <div class="mkd-iwt-content">
                            <h4 class="mkd-iwt-title" style="color: #88714d">
                              <span class="mkd-iwt-title-text">DINNER</span>
                            </h4>
                            <p
                              class="mkd-iwt-text"
                              style="color: #808285"
                            >Laboris nisi ut aliquip ex ea commodo. Proin gravida nibh vel veliau ctor aliquenean sollicitu.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_empty_space" style="height: 30px">
                  <span class="vc_empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"
          >
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="mkd-elements-holder mkd-one-column mkd-responsive-mode-768">
                  <div
                    class="mkd-eh-item mkd-horizontal-alignment-center"
                    data-item-class="mkd-eh-custom-481896"
                  >
                    <div class="mkd-eh-item-inner">
                      <div
                        class="mkd-eh-item-content mkd-eh-custom-481896"
                        style="padding: 0px 15px 0px 15px"
                      >
                        <div
                          class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-medium"
                          style="background-image: url()"
                        >
                          <div class="mkd-iwt-icon">
                            <img
                              width="110"
                              height="68"
                              src="/img/07/h1-icon4-1.png"
                              class="attachment-full size-full"
                              alt="a"
                            />
                          </div>
                          <div class="mkd-iwt-content">
                            <h4 class="mkd-iwt-title" style="color: #88714d">
                              <span class="mkd-iwt-title-text">COFFEE</span>
                            </h4>
                            <p
                              class="mkd-iwt-text"
                              style="color: #808285"
                            >Laboris nisi ut aliquip ex ea commodo. Proin gravida nibh vel veliau ctor aliquenean sollicitu.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_empty_space" style="height: 30px">
                  <span class="vc_empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="mkd-row-grid-section-wrapper ">
            <div class="mkd-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="mkd-portfolio-list-holder mkd-pl-masonry mkd-pl-normal-space mkd-pl-four-columns mkd-pl-gallery-overlay mkd-pl-pag-no-pagination"
                                    data-type="masonry" data-number-of-columns="4" data-space-between-items="normal"
                                    data-number-of-items="-1" data-image-proportions="full" data-enable-fixed-proportions="no"
                                    data-category="bistro" data-order-by="date" data-order="ASC" data-target="_self"
                                    data-item-style="gallery-overlay" data-enable-title="yes" data-title-tag="h4"
                                    data-custom-title-style="no" data-title-text-transform="uppercase"
                                    data-enable-category="yes" data-enable-excerpt="no" data-excerpt-length="20"
                                    data-pagination-type="no-pagination" data-filter="no" data-filter-order-by="name"
                                    data-enable-article-animation="no" data-portfolio-slider-on="no" data-enable-loop="yes"
                                    data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600"
                                    data-enable-navigation="yes" data-enable-pagination="yes" data-max-num-pages="0"
                                    data-next-page="2">
                                    <div class="mkd-pl-inner clearfix"
                                        style="position: relative; height: 663.062px; opacity: 1;">
                                        <div class="mkd-pl-grid-sizer"></div>
                                        <div class="mkd-pl-grid-gutter"></div>

                                        <article v-for="(art, index) in articales" :key="index" :class="art.class" :style="art.style">
                                            <div class="mkd-pl-item-inner">
                                                <div class="mkd-pli-image">
                                                    <span class="mkd-pli-plus"><i
                                                            class="mkd-icon-linear-icon lnr lnr-cross "></i></span>
                                                    <img :width="art.width" :height="art.height"
                                                        :src="art.image"
                                                        class="attachment-full size-full wp-post-image" alt="a"
                                                        :srcset="art.image"
                                                        sizes="(max-width: 900px) 100vw, 900px"> <a
                                                        href="#"
                                                        class="mkd-pli-link"></a>
                                                </div>
                                                <div class="mkd-pli-text-holder">
                                                    <div class="mkd-pli-text-wrapper">
                                                        <div class="mkd-pli-text">
                                                            <h4 itemprop="name" class="mkd-pli-title entry-title"
                                                                style="text-transform: uppercase">
                                                                <a itemprop="url" href="">{{art.title}}</a>
                                                            </h4>
                                                            <div class="mkd-pli-category-holder">
                                                                <a itemprop="url" class="mkd-pli-category"
                                                                    href="#">{{art.desc}}</a>
                                                            </div>
                                                            <a itemprop="url" class="mkd-pli-link"
                                                                href="#"
                                                                target="_self">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="vc_row wpb_row vc_row-fluid vc_custom_1502187249169">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="mkd-section-title-holder  mkd-title-custom mkd-separator-inherit-color mkd-st-text-position-center"
                            style="text-align: center">
                            <!-- <div class="mkd-st-background-text mkd-background-text-left" style="color: rgb(102, 102, 255)">
                                <span>Menu</span>
                            </div> -->
                            <div class="mkd-section-title-inner">
                                <h5 class="mkd-st-subtitle" style="color: #88714d">
                                    <span>SOFTLY AND CRUNCHY</span>
                                </h5>
                                <h2 class="mkd-st-title mkd-title-center" style="color: #88714d">
                                    <span>MAIN COURSES</span>
                                </h2>
                                <p class="mkd-st-text" style="color: #949494">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do eiusmod tempor incidition ullamco laboris nisi ut aliquip ex ea commodo
                                    condorico consectetur adipiscing elit, sed do eiusmod tempor incidition ullam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="mkd-row-grid-section-wrapper ">
            <div class="mkd-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1502187341993">
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="mkd-pricing-list clearfix">
                                    <div class="mkd-pl-wrapper">
                                        <div class="mkd-pricing-list-item clearfix  mkd-pricing-list-featured">
                                            <div class="mkd-pli-content clearfix">
                                                <div class="mkd-pli-image-holder">
                                                    <img width="61" height="61" src="/img/07/menu-image1.png"
                                                        class="attachment-thumbnail size-thumbnail" alt="a"> </div>
                                                <div class="mkd-pli-content-holder">
                                                    <div class="mkd-pli-title-holder">
                                                        <h5 itemprop="name" class="mkd-pli-title entry-title"
                                                            style="color: #b69d75">
                                                            SPAGHETTI BOLOGNESE </h5>
                                                        <div class="mkd-pli-dots"
                                                            style="border-color: rgba(255,255,255,0.2);border-style: solid">
                                                        </div>
                                                        <div class="mkd-pli-price-holder">
                                                            <h4 class="mkd-pli-price" style="color: #b69d75">
                                                                <span>$18.00</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="mkd-pli-bottom-content">
                                                        <div class="mkd-pli-desc clearfix">
                                                            <p>Lorem ipsum dolor sit amet, feugiat delicata.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mkd-pricing-list-item clearfix  ">
                                            <div class="mkd-pli-content clearfix">
                                                <div class="mkd-pli-image-holder">
                                                    <img width="61" height="61" src="/img/07/menu-image2.png"
                                                        class="attachment-thumbnail size-thumbnail" alt="A"> </div>
                                                <div class="mkd-pli-content-holder">
                                                    <div class="mkd-pli-title-holder">
                                                        <h5 itemprop="name" class="mkd-pli-title entry-title"
                                                            style="color: #b69d75">
                                                            SALMON STEAK </h5>
                                                        <div class="mkd-pli-dots"
                                                            style="border-color: rgba(255,255,255,0.2);border-style: solid">
                                                        </div>
                                                        <div class="mkd-pli-price-holder">
                                                            <h4 class="mkd-pli-price" style="color: #b69d75">
                                                                <span>$35.00</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="mkd-pli-bottom-content">
                                                        <div class="mkd-pli-desc clearfix">
                                                            <p>Lorem ipsum dolor sit amet, feugiat delicata.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mkd-pricing-list-item clearfix  mkd-pricing-list-featured">
                                            <div class="mkd-pli-content clearfix">
                                                <div class="mkd-pli-image-holder">
                                                    <img width="61" height="61" src="/img/07/menu-image3.png"
                                                        class="attachment-thumbnail size-thumbnail" alt="A"> </div>
                                                <div class="mkd-pli-content-holder">
                                                    <div class="mkd-pli-title-holder">
                                                        <h5 itemprop="name" class="mkd-pli-title entry-title"
                                                            style="color: #b69d75">
                                                            VEGETARIAN PIZZA </h5>
                                                        <div class="mkd-pli-dots"
                                                            style="border-color: rgba(255,255,255,0.2);border-style: solid">
                                                        </div>
                                                        <div class="mkd-pli-price-holder">
                                                            <h4 class="mkd-pli-price" style="color: #b69d75">
                                                                <span>$20.00</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="mkd-pli-bottom-content">
                                                        <div class="mkd-pli-desc clearfix">
                                                            <p>Lorem ipsum dolor sit amet, feugiat delicata.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mkd-pricing-list-item clearfix  ">
                                            <div class="mkd-pli-content clearfix">
                                                <div class="mkd-pli-image-holder">
                                                    <img width="61" height="61" src="/img/07/menu-image4.png"
                                                        class="attachment-thumbnail size-thumbnail" alt="a"> </div>
                                                <div class="mkd-pli-content-holder">
                                                    <div class="mkd-pli-title-holder">
                                                        <h5 itemprop="name" class="mkd-pli-title entry-title"
                                                            style="color: #b69d75">
                                                            CHICKEN PASTA </h5>
                                                        <div class="mkd-pli-dots"
                                                            style="border-color: rgba(255,255,255,0.2);border-style: solid">
                                                        </div>
                                                        <div class="mkd-pli-price-holder">
                                                            <h4 class="mkd-pli-price" style="color: #b69d75">
                                                                <span>$22.00</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="mkd-pli-bottom-content">
                                                        <div class="mkd-pli-desc clearfix">
                                                            <p>Lorem ipsum dolor sit amet, feugiat delicata.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="mkd-pricing-list clearfix">
                                    <div class="mkd-pl-wrapper">
                                        <div class="mkd-pricing-list-item clearfix  mkd-pricing-list-featured">
                                            <div class="mkd-pli-content clearfix">
                                                <div class="mkd-pli-image-holder">
                                                    <img width="61" height="61" src="/img/07/menu-image5.png"
                                                        class="attachment-thumbnail size-thumbnail" alt="a"> </div>
                                                <div class="mkd-pli-content-holder">
                                                    <div class="mkd-pli-title-holder">
                                                        <h5 itemprop="name" class="mkd-pli-title entry-title"
                                                            style="color: #b69d75">
                                                            TOMATO SOUP </h5>
                                                        <div class="mkd-pli-dots"
                                                            style="border-color: rgba(255,255,255,0.2);border-style: solid">
                                                        </div>
                                                        <div class="mkd-pli-price-holder">
                                                            <h4 class="mkd-pli-price" style="color: #b69d75">
                                                                <span>$14.00</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="mkd-pli-bottom-content">
                                                        <div class="mkd-pli-desc clearfix">
                                                            <p>Lorem ipsum dolor sit amet, feugiat delicata.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mkd-pricing-list-item clearfix  ">
                                            <div class="mkd-pli-content clearfix">
                                                <div class="mkd-pli-image-holder">
                                                    <img width="61" height="61" src="/img/07/menu-image6.png"
                                                        class="attachment-thumbnail size-thumbnail" alt="a"> </div>
                                                <div class="mkd-pli-content-holder">
                                                    <div class="mkd-pli-title-holder">
                                                        <h5 itemprop="name" class="mkd-pli-title entry-title"
                                                            style="color: #b69d75">
                                                            BEEF TACOS </h5>
                                                        <div class="mkd-pli-dots"
                                                            style="border-color: rgba(255,255,255,0.2);border-style: solid">
                                                        </div>
                                                        <div class="mkd-pli-price-holder">
                                                            <h4 class="mkd-pli-price" style="color: #b69d75">
                                                                <span>$23.00</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="mkd-pli-bottom-content">
                                                        <div class="mkd-pli-desc clearfix">
                                                            <p>Lorem ipsum dolor sit amet, feugiat delicata.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mkd-pricing-list-item clearfix  ">
                                            <div class="mkd-pli-content clearfix">
                                                <div class="mkd-pli-image-holder">
                                                    <img width="61" height="61" src="/img/07/menu-image7.png"
                                                        class="attachment-thumbnail size-thumbnail" alt="a"> </div>
                                                <div class="mkd-pli-content-holder">
                                                    <div class="mkd-pli-title-holder">
                                                        <h5 itemprop="name" class="mkd-pli-title entry-title"
                                                            style="color: #b69d75">
                                                            CAESAR SALAD </h5>
                                                        <div class="mkd-pli-dots"
                                                            style="border-color: rgba(255,255,255,0.2);border-style: solid">
                                                        </div>
                                                        <div class="mkd-pli-price-holder">
                                                            <h4 class="mkd-pli-price" style="color: #b69d75">
                                                                <span>$13.00</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="mkd-pli-bottom-content">
                                                        <div class="mkd-pli-desc clearfix">
                                                            <p>Lorem ipsum dolor sit amet, feugiat delicata.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mkd-pricing-list-item clearfix  mkd-pricing-list-featured">
                                            <div class="mkd-pli-content clearfix">
                                                <div class="mkd-pli-image-holder">
                                                    <img width="61" height="61" src="/img/07/menu-image8.png"
                                                        class="attachment-thumbnail size-thumbnail" alt="a"> </div>
                                                <div class="mkd-pli-content-holder">
                                                    <div class="mkd-pli-title-holder">
                                                        <h5 itemprop="name" class="mkd-pli-title entry-title"
                                                            style="color: #b69d75">
                                                            SHRIMP ALFREDO </h5>
                                                        <div class="mkd-pli-dots"
                                                            style="border-color: rgba(255,255,255,0.2);border-style: solid">
                                                        </div>
                                                        <div class="mkd-pli-price-holder">
                                                            <h4 class="mkd-pli-price" style="color: #b69d75">
                                                                <span>$33.00</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="mkd-pli-bottom-content">
                                                        <div class="mkd-pli-desc clearfix">
                                                            <p>Lorem ipsum dolor sit amet, feugiat delicata.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="vc_row wpb_row vc_row-fluid vc_custom_1501162110212">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="mkd-section-title-holder  mkd-title-custom mkd-separator-inherit-color mkd-st-text-position-center"
                            style="text-align: center">
                            <div class="mkd-st-background-text mkd-background-text-right" style="color: rgba(255,255,255,0.07)">
                                <span>Blog</span>
                            </div>
                            <div class="mkd-section-title-inner">
                                <h5 class="mkd-st-subtitle" style="color: #b69d75">
                                    <span>FROM THE MENU</span>
                                </h5>
                                <h2 class="mkd-st-title mkd-title-center" style="color: #88714d">
                                    <span>AWESOME BLOG</span>
                                </h2>
                                <p class="mkd-st-text" style="color: #949494">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do eiusmod tempor incidition ullamco laboris nisi ut aliquip ex ea commodo
                                    condorico consectetur adipiscing elit, sed do eiusmod tempor incidition ullam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="mkd-row-grid-section-wrapper ">
            <div class="mkd-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="mkd-blog-list-holder mkd-bl-boxed mkd-bl-three-columns mkd-bl-normal-space mkd-bl-pag-no-pagination "
                                    data-type="boxed" data-number-of-posts="3" data-number-of-columns="3"
                                    data-space-between-columns="normal" data-category="restaurants" data-order-by="date"
                                    data-order="ASC" data-image-size="full" data-title-tag="h4" data-excerpt-length="28"
                                    data-post-info-section="yes" data-post-info-image="yes" data-post-info-author="no"
                                    data-post-info-date="yes" data-post-info-category="yes" data-post-info-comments="yes"
                                    data-post-info-like="no" data-post-info-share="no" data-pagination-type="no-pagination"
                                    data-max-num-pages="1" data-next-page="2">
                                    <div class="mkd-bl-wrapper">
                                        <ul class="mkd-blog-list">
                                            <li class="mkd-bl-item clearfix">
                                                <div class="mkd-bli-inner">
                                                    <div class="mkd-post-image">
                                                        <a itemprop="url" href="#"
                                                            title="Roasted Pumpkin Soup">
                                                            <img width="1300" height="990"
                                                                src="/img/dr1.png"
                                                                class="attachment-full size-full wp-post-image" alt="a"
                                                                srcset="/img/dr2.png 1300w, /img/dr3.png 300w, /img/07/b-standard-h1-image1-768x585.jpg 768w, /img/07/b-standard-h1-image1-1024x780.jpg 1024w"
                                                                sizes="(max-width: 1300px) 100vw, 1300px">
                                                                </a>
                                                    </div>
                                                    <div class="mkd-bli-content">
                                                        <div class="mkd-bli-info">
                                                            <div itemprop="dateCreated"
                                                                class="mkd-post-info-date entry-date published updated">
                                                                <a itemprop="url" href="#">
                                                                    27.07.2017 </a>
                                                                <meta itemprop="interactionCount" content="UserComments: 0">
                                                            </div>
                                                            <div class="mkd-post-info-category">
                                                                <a href="#"
                                                                    rel="category tag">Restaurants</a></div>
                                                            <div class="mkd-post-info-comments-holder">
                                                                <a itemprop="url" class="mkd-post-info-comments"
                                                                    href="##respond"
                                                                    target="_self">
                                                                    0 Comments </a>
                                                            </div>
                                                        </div>
                                                        <h4 itemprop="name" class="entry-title mkd-post-title">
                                                            <a itemprop="url" href="#"
                                                                title="Roasted Pumpkin Soup">
                                                                Roasted Pumpkin Soup 
                                                                
                                                                </a>
                                                        </h4>
                                                        <div class="mkd-bli-excerpt">
                                                            <div class="mkd-post-excerpt-holder">
                                                                <p itemprop="description" class="mkd-post-excerpt">
                                                                    Lorem ipsum dolor sit amet, ut est diam voluptatum. Enim
                                                                    facer falli no duo, at elitr oblique fuisset nam, movet
                                                                    putent albucius ad cum. Te mutat singulis qui, </p>
                                                            </div>
                                                        </div>
                                                        <div class="mkd-post-read-more-button">
                                                            <a itemprop="url" href="#"
                                                                target="_self"
                                                                class="mkd-btn mkd-btn-medium mkd-btn-simple mkd-btn-icon mkd-blog-list-button">
                                                                <span class="mkd-btn-text">READ MORE</span> <span
                                                                    aria-hidden="true"
                                                                    class="mkd-icon-font-elegant arrow_carrot-right "></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                            










                                            <li class="mkd-bl-item clearfix">
                                                <div class="mkd-bli-inner">
                                                    <div class="mkd-post-image">
                                                        <a itemprop="url" href="#"
                                                            title="Pear Tart Tatin">
                                                            <img width="1300" height="990"
                                                                src="/img/07/b-standard-h1-image2.jpg"
                                                                class="attachment-full size-full wp-post-image" alt="a"
                                                                srcset="/img/07/b-standard-h1-image2.jpg 1300w, /img/07/b-standard-h1-image2-300x228.jpg 300w, /img/07/b-standard-h1-image2-768x585.jpg 768w, /img/07/b-standard-h1-image2-1024x780.jpg 1024w"
                                                                sizes="(max-width: 1300px) 100vw, 1300px"> </a>
                                                    </div>
                                                    <div class="mkd-bli-content">
                                                        <div class="mkd-bli-info">
                                                            <div itemprop="dateCreated"
                                                                class="mkd-post-info-date entry-date published updated">
                                                                <a itemprop="url" href="#">
                                                                    27.07.2017 </a>
                                                                <meta itemprop="interactionCount" content="UserComments: 0">
                                                            </div>
                                                            <div class="mkd-post-info-category">
                                                                <a href="#"
                                                                    rel="category tag">Restaurants</a></div>
                                                            <div class="mkd-post-info-comments-holder">
                                                                <a itemprop="url" class="mkd-post-info-comments"
                                                                    href="##respond" target="_self">
                                                                    0 Comments </a>
                                                            </div>
                                                        </div>
                                                        <h4 itemprop="name" class="entry-title mkd-post-title">
                                                            <a itemprop="url" href="#"
                                                                title="Pear Tart Tatin">
                                                                Pear Tart Tatin </a>
                                                        </h4>
                                                        <div class="mkd-bli-excerpt">
                                                            <div class="mkd-post-excerpt-holder">
                                                                <p itemprop="description" class="mkd-post-excerpt">
                                                                    Lorem ipsum dolor sit amet, ut est diam voluptatum. Enim
                                                                    facer falli no duo, at elitr oblique fuisset nam, movet
                                                                    putent albucius ad cum. Te mutat singulis qui, </p>
                                                            </div>
                                                        </div>
                                                        <div class="mkd-post-read-more-button">
                                                            <a itemprop="url" href="#" target="_self"
                                                                class="mkd-btn mkd-btn-medium mkd-btn-simple mkd-btn-icon mkd-blog-list-button">
                                                                <span class="mkd-btn-text">READ MORE</span> <span
                                                                    aria-hidden="true"
                                                                    class="mkd-icon-font-elegant arrow_carrot-right "></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mkd-bl-item clearfix">
                                                <div class="mkd-bli-inner">
                                                    <div class="mkd-post-image">
                                                        <a itemprop="url" href="#"
                                                            title="Tomato And Mozzarella">
                                                            <img width="1300" height="990"
                                                                src="/img/07/b-standard-h1-image3.jpg"
                                                                class="attachment-full size-full wp-post-image" alt="a"
                                                                srcset="/img/07/b-standard-h1-image3.jpg 1300w, /img/07/b-standard-h1-image3-300x228.jpg 300w, /img/07/b-standard-h1-image3-768x585.jpg 768w, /img/07/b-standard-h1-image3-1024x780.jpg 1024w"
                                                                sizes="(max-width: 1300px) 100vw, 1300px"> </a>
                                                    </div>
                                                    <div class="mkd-bli-content">
                                                        <div class="mkd-bli-info">
                                                            <div itemprop="dateCreated"
                                                                class="mkd-post-info-date entry-date published updated">
                                                                <a itemprop="url" href="#">
                                                                    27.07.2017 </a>
                                                                <meta itemprop="interactionCount" content="UserComments: 0">
                                                            </div>
                                                            <div class="mkd-post-info-category">
                                                                <a href="#"
                                                                    rel="category tag">Restaurants</a></div>
                                                            <div class="mkd-post-info-comments-holder">
                                                                <a itemprop="url" class="mkd-post-info-comments"
                                                                    href="#"
                                                                    target="_self">
                                                                    0 Comments </a>
                                                            </div>
                                                        </div>
                                                        <h4 itemprop="name" class="entry-title mkd-post-title">
                                                            <a itemprop="url" href="#"
                                                                title="Tomato And Mozzarella">
                                                                Tomato And Mozzarella </a>
                                                        </h4>
                                                        <div class="mkd-bli-excerpt">
                                                            <div class="mkd-post-excerpt-holder">
                                                                <p itemprop="description" class="mkd-post-excerpt">
                                                                    Lorem ipsum dolor sit amet, ut est diam voluptatum. Enim
                                                                    facer falli no duo, at elitr oblique fuisset nam, movet
                                                                    putent albucius ad cum. Te mutat singulis qui, </p>
                                                            </div>
                                                        </div>
                                                        <div class="mkd-post-read-more-button">
                                                            <a itemprop="url" href="#"
                                                                target="_self"
                                                                class="mkd-btn mkd-btn-medium mkd-btn-simple mkd-btn-icon mkd-blog-list-button">
                                                                <span class="mkd-btn-text">READ MORE</span> <span
                                                                    aria-hidden="true"
                                                                    class="mkd-icon-font-elegant arrow_carrot-right "></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </span>
</template>

<script>
// import Logo from '~/components/Logo.vue'
import { mapActions, mapGetters } from 'vuex'
export default {
    head: {
        bodyAttrs: {
            class: 'home page-template page-template-full-width page-template-full-width-php page page-id-333 logged-in mkd-core-1.0 appetito-ver-1.1 mkd-smooth-page-transitions mkd-smooth-page-transitions-fadeout mkd-grid-1300 mkd-content-is-behind-header mkd-light-header mkd-sticky-header-on-scroll-down-up mkd-dropdown-animate-height mkd-header-standard mkd-menu-area-shadow-disable mkd-menu-area-in-grid-shadow-disable mkd-menu-area-border-disable mkd-menu-area-in-grid-border-disable mkd-logo-area-border-disable mkd-logo-area-in-grid-border-disable mkd-header-vertical-shadow-disable mkd-header-vertical-border-disable mkd-side-menu-slide-from-right mkd-woocommerce-columns-3 mkd-woo-normal-space mkd-woo-pl-info-below-image mkd-default-mobile-header mkd-sticky-up-mobile-header mkd-fullscreen-search mkd-search-fade wpb-js-composer js-comp-ver-6.0.5 vc_responsive'
        }
    },
    computed: {
        ...mapGetters({
            articales: 'articales'
        })
    },
  // components: {
  //   Logo
  // }
};
</script>

<style>
    #rev_slider_1_1_wrapper {min-height: 100vh;}</style><style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1502188123607{padding-top: 120px !important;padding-bottom: 130px !important;}.vc_custom_1502185765042{margin-top: -165px !important;}.vc_custom_1502187165775{padding-top: 140px !important;padding-bottom: 91px !important;}.vc_custom_1502187249169{padding-top: 95px !important;padding-bottom: 80px !important;}.vc_custom_1502187341993{padding-bottom: 127px !important;}.vc_custom_1501162110212{padding-bottom: 83px !important;}.vc_custom_1502187593144{padding-top: 98px !important;padding-bottom: 80px !important;}.vc_custom_1502187647617{padding-bottom: 80px !important;}.vc_custom_1502187691817{padding-bottom: 80px !important;}.vc_custom_1502187722487{padding-bottom: 130px !important;}.vc_custom_1503577648189{margin-top: -120px !important;}.vc_custom_1501766541874{padding-right: 5% !important;padding-left: 5% !important;}

    .mkd-pricing-list .mkd-pricing-list-item .mkd-pli-content .mkd-pli-bottom-content .mkd-pli-desc p{text-align: left}

    .page-id-333.mkd-boxed .mkd-wrapper { background-attachment: fixed;}

    /* generated in /home/mikadothemes/appetito/public_html/wp-content/themes/appetito/framework/modules/search/search-functions.php appetito_mikado_search_styles function */
    .mkd-fullscreen-search-holder { background-color: rgba(0,0,0,.85);}

    /* generated in /home/mikadothemes/appetito/public_html/wp-content/themes/appetito/framework/modules/header/helper-functions.php appetito_mikado_header_area_style function */
    .page-id-333 .mkd-page-header .mkd-menu-area { background-color: rgba(255, 255, 255, 0);}

    /* generated in /home/mikadothemes/appetito/public_html/wp-content/themes/appetito/functions.php appetito_mikado_content_padding_top function */
    .page-id-333 .mkd-content .mkd-content-inner > .mkd-container > .mkd-container-inner, .page-id-333 .mkd-content .mkd-content-inner > .mkd-full-width > .mkd-full-width-inner { padding-top: 0px !important;}

    /* generated in /home/mikadothemes/appetito/public_html/wp-content/themes/appetito/functions.php appetito_mikado_container_style function */
    /* .page-id-333 .mkd-content .mkd-content-inner > .mkd-container, .page-id-333 .mkd-content .mkd-content-inner > .mkd-full-width { background-color: #060606;background-image: url("/img/07/h1-page-background-img-6.jpg");background-position: right top;background-repeat: no-repeat;} */
    


    .tp-loader.spinner1 {
        margin-top: -15px !important;
        margin-left: -15px !important;
        height: 30px !important;
        width: 30px !important;
        box-shadow:none !important;
        border-radius: 0 !important; 
    }
</style>
